.profile-charts {
  display: flex;
}

.prof-chart {
  cursor: pointer;
  margin: 20px;
}

.prof-chart img {
  max-width: 100px;
}

.prof-chart div {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
}
