* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.frontRank {
  position: absolute;
  top: 0px;
  left: 10px;
  color: white;
}

.numsOff {
  display: none;
}

.frontDel {
  position: absolute;
  top: 0px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.top_wrapper {
  min-width: 700px;
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
}

h3,
h2 {
  margin: 0px;
  margin-left: 10px;
}

#main {
  display: flex;
}

fieldset {
  max-width: 200px;
  min-height: 500px;
  max-height: 500px;
  overflow: scroll;
}

.save {
  width: 100px;
  height: 30px;
  margin-top: 20px;
}

.saved {
  min-height: 300px;
  max-height: 300px;
  overflow: scroll;
}

.input_suggs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input_suggs img {
  margin-bottom: 10px;
}

.saved_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart_title {
  margin: 0px;
}

.saved_item h2 {
  cursor: pointer;
}

.saved_item i {
  cursor: pointer;
}

.display {
  max-width: 900px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.top_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top {
  min-width: 150px;
  height: 150px;
  background: #1c1c1c;
  background-size: contain;
  margin: 10px;
  position: relative;
}

.five,
.ten {
  margin-right: 0px !important;
}

.album_reccs {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: #f9f9f9;
  overflow: scroll;
  margin-top: 20px;
  margin-left: 10px;
}

.similar {
  margin: 0px 20px;
}

.chart_names {
  margin-top: 30px;
  margin-left: 30px;
  max-width: 500px;
}
