<footer class="desk-footer">
  <div class="desk-footer-wrap">
    <ul class="footer-menu">
      <a href="/dashboard">Dashboard</a>
      <a href="/about">About</a>
    </ul>

    <a style="max-height: 21.6px" class="logo-anc" href="/"
      ><img
        style="opacity: 0.6; position: relative; left: -40px; max-width: 150px"
        class="logo"
        src="http://192.168.0.13:8888/topcharts/public/assets/logo.png"
        alt=""
    /></a>

    <div class="soc-icons">
      <a href="https://discord.gg/d7cTJZUu"><i class="fab fa-discord"></i></a>
      <a href="https://github.com/NickVallejo"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
</footer>
