<footer class="desk-footer" style="margin-top: auto;">
  <div class="desk-footer-wrap">
    <ul class="footer-menu">
      <a class="soc-icon" href="https://discord.gg/eCEJdW2uPR"><i class="fab fa-discord"></i></a>
      <a href="/dashboard">Dashboard</a>
      <a href="/about">About</a>
      <a href="https://www.paypal.com/donate/?business=RTKNM5MJB73WA&no_recurring=0&item_name=Money+goes+directly+to+server+costs+and+site+maintenance.&currency_code=CAD">Donate</a>
    </ul>

    <a class="logo-footer-anc" href="/">
      <img class="logo" src="/images/logo.png">
    </a>

    <!-- <div class="soc-icons"> -->
      <!-- <a href="https://discord.gg/eCEJdW2uPR"><i class="fab fa-discord"></i></a> -->
      <!-- <a href="https://github.com/NickVallejo"><i class="fab fa-github-square"></i></a> -->
    <!-- </div> -->
  </div>
</footer>

<script type="text/javascript" src="/js/src-profile.js"></script>