<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8888/topsters3 - copy/css/header.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8888/topsters3 - copy/css/top_styles.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Music Topsters</title>
  </head>