<header>
  <div class="head-wrap">
    <a class="logo-anc" href="/"><img class="logo" src="assets/logo.png" alt="" /></a>

    <nav>
      <% if(logged==false) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% } else { %>
          <% const userImage=userInfo.profileImage.replace(/\\/g, "/" ) %>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
            <a class="prof-go" href="/<%= userInfo.username %>">
              <div id="profile-img-display" style="background-image: url('/<%= userImage %>')"></div>
            </a>
            <% } %>
    </nav>
  </div>
</header>