<header>
  <div class="head-wrap">
    <a class="logo-anc" href="/"><img class="logo" src="/images/logo.png" alt="" /></a>
    <form class="prof-src prof-src__desk">
      <input class="prof-src__input" type="text">
      <button type="submit" class="prof-src__submit">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    </form>
    <nav>
      <% if(userInfo == false) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% } else { %>
            <% const profileImage = userInfo.profileImage.length > 0 ? userInfo.profileImage.replace(/\\/g, `/` ) : 'images/default-icon.png' %>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/settings">Settings</a></li>
            <form id="logout-form" action="/logout" method="POST"><li><a onclick="document.getElementById('logout-form').submit()"; type="submit">Logout</a></li></form>
            <a class="prof-go" href="/<%= userInfo.username %>" name="<%= userInfo.username %>">
              <div id="profile-img-display" style="background-image: url('/<%= profileImage %>')"></div>
            </a>
        <% } %>
    </nav>
  </div>
</header>