<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://localhost:8888/topcharts/public/css/404.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>404 - Page Not Found</title>
  </head>
  <body>
    <div class="fof-info">
      <h1>404</h1>
      <h3>Page not Found</h3>
      <a href="/dashboard">Back to Dashboard</a>
    </div>

    <%- include('../partials/desk-footer') %>
  </body>
</html>
