<!DOCTYPE html>
<html lang="en" dir="ltr">

<% if (home) {%>
  <%- include('../partials/head-home') %>
<% } else { %>
  <%- include('../partials/head-logreg') %>
<% } %>

<div class="header-hide-wrap">
  <%- include('../partials/header', {logged: logged, userInfo: userInfo}) %>
</div>
  <body style="min-height: 100vh;">
    <div class="notice-wrap"></div>

    <%- body %>
  </body>
</html>
