<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://localhost:8888/topsters3 - copy/css/top_styles.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8888/topsters3 - copy/css/profile.css" />    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Profile</title>
</head>

  <%- include('../partials/header') %>

  <div class="prof-settings">
    <p>Followers: <%- followers %></p>
    <p>Following: <%- following %></p>
    <%- body %>
  </div>

<body>
    <h2>Charts</h2>
    <div class="profile-charts">

    </div>

    <h2>Favourite Artists</h2>
    <div class="profile-charts">

    </div>

    <h2>Listen List</h2>
    <div class="profile-charts">

    </div>

    <script src="http://localhost:8888/topsters3 - copy/js/trashOrDisplay.js"></script>
    <script src="http://localhost:8888/topsters3 - copy/js/profile/profile.js"></script>

    <% if(!myProf) { %>
      <script src="http://localhost:8888/topsters3 - copy/js/profile/notMyProf.js"></script>
    <% } else {%>
      <script src="http://localhost:8888/topsters3 - copy/js/profile/myProf.js"></script>
    <% } %>
</body>
</html>