<form id="passChangeForm" class="pass-change" action="/reset/<%= token %>" method="POST">

    <label for="newPass">New Password</label>
    <input name="newPass" type="password">

    <label for="confirmPass">Confirm New Password</label>
    <input name="confirmPass" type="password">

    <input type="submit" value="Change Password">
</form>


<script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/forgot.js"></script>