<div class="forgot-wrap">
  <h3 class="forgot-title">Enter your email and we'll send you a recovery link.</h3>

  <form action="post" id="forgotForm">
    <input type="email" name="recovery-email" id="" placeholder="Enter your email..." />
    <input class="prim-btn" type="submit" />
  </form>

  <p class="success-txt"></p>
</div>

<script type="text/javascript" src="http://143.198.119.208:4001/topcharts/public/css/forgot.css"></script>
<script type="text/javascript" src="http://143.198.119.208:4001/topcharts/public/js/forgot.js"></script>
