

<i class="fas fa-chevron-circle-up recc-show fa-3x"></i>
    <div id="primary" class="content-area">
      <main id="main" class="site-main">

        <div class="set-wrap">
        <div class="set">

          <div class="field-info">
            <input class="top_input" type="text" name="" value="" placeholder="Search for albums..." />
            <i class="far fa-plus-square add-btn fa-2x"></i>
            <!-- <form class="input-form">
              <p class="click-to-add">Click to add a custom album</p>
              <i class="far fa-plus-square add-btn"></i>
            </form> -->
          </div>

          <fieldset>
            <div class="input_suggs">
            </div>
          </fieldset>

          <div class="tile-opts">
            <button class="save field-btn" type="button" name="button">Save</button>
            <button class="clear field-btn" type="button" name="button">New</button>
            <div class="numbers-wrap">
              <p>Numbers?</p> <input type="checkbox" checked="true" class="chartNums" name="chartNums" value="true" />
            </div>
          </div>
          <div class="saved"></div>
        </div>
      </div>

        <section class="display-screen">

        <div class="display">
          <div class="top-radio-wrap" data-html2canvas-ignore="true">
            <input class="top-select" type="radio" id="top-ten" name="top-select" value="top-ten">
            <label>Top 10</label><br>
            <input class="top-select" type="radio" id="top-twenty" name="top-select" value="top-twenty">
            <label>Top 20</label><br>
            <input class="top-select" type="radio" id="top-fifty" name="top-select" value="top-fifty">
            <label>Top 50</label><br>
            <input class="top-select" type="radio" id="top-hundred" name="top-select" value="top-hundred">
            <label>Top 100</label><br>
        </div>
          <div class="title-wrap">
            <div class="chart_title">
              <h3>Chart Title:</h3>
              <i class="far fa-edit edit" data-html2canvas-ignore="true"></i>
              <input class="title-change" type="text">
            </div>

            <div>
                <button class="screencap-btn field-btn" type="submit">Download Img</button>
            </div>          
          </div>
          <div class="top_wrapper">

          </div>
        </div>

        <div class="chart_names">

        </div>
      </section>


      </main>
      <!-- #main -->
    </div>

    <div class="album_reccs">
      <img class="sugg-loader" src="http://localhost:8888/topsters3 - copy/assets/loader.gif" alt="">
    </div>

    <div class="yt-wrap"></div>

    <div class="round-up">
      <i class="fas fa-chevron-up fa-2x"></i>
    </div>

    <div class="mobile-nav">
      <div class="mobile-nav-wrap">
        <div>
          <i class="fas fa-list fa-2x"></i>
          <i class="fas fa-music fa-2x"></i>
        </div>
        <div>
          <i class="far fa-save fa-2x"></i>
          <i class="far fa-plus-square fa-2x"></i>
        </div>

      </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/userSettings.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/tileSettings.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/trashOrDisplay.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/saveOrUpdate.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/searchAndAdd.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/unsavedChart.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/appExec.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/chartSizeSet.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/addCustomAlbum.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/html2canvas.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/screencap.js"></script>
  <script type="text/javascript" src="http://localhost:8888/topsters3 - copy/js/interactive.js"></script>