<section class="logreg-hero">
  <div class="logreg-wrap">
    <div class="logreg-box">
      <% if(passChanged==true) {%>
        <div class="succs">
          <h5>Password Change complete!</h5>
        </div>
        <% } %>
          <% if(errs) {%>
            <div class="errs">
              <h5><%- errs.msg %></h5>
            </div>
            <% } %>
              <h1>Welcome to Top Charts</h1>
              <form action="/login" method="post">
                <input placeholder="Username" type="text" name="username" value="<%= username %>" />
                <div class="eye">
                  <input placeholder="Password" type="password" name="password" value="" />
                  <i class="far fa-eye"></i>
                </div>
                <button class="new-btn login-btn" type="submit">Login</button>
              </form>
              
              <div class="sso-btns">
                <a href="/auth/google" class="new-btn google sso-btn">Google+</a>
                <a href="/auth/facebook" class="new-btn facebook sso-btn">Facebook</a>
              </div>

              <div class="log-opts">
                <a href="/register">Register Account</a>
                <a href="/forgot">Forgot Login</a>
              </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/logreg/logreg.js"></script>