<script src="https://www.google.com/recaptcha/api.js"></script>


<section class="logreg-hero">
  <div class="logreg-wrap">
    <div class="logreg-box">
      <h1>Register</h1>

      <% if(errs) {%>
        <div class="errs">
          <h5>Invalid Credentials:</h5>
          <ul>
            <% for(i=0; i < errs.length; i++) {%>
              <li>
                <%- errs[i].msg %>
              </li>
              <% } %>
          </ul>
        </div>
        <% } %>
          <% let x=0; const inputValue=inputs ? inputs : ["", "" , "" ]; %>

            <form class="reg-form" action="/register" method="post">
              <input type="text" name="username" placeholder="Username..." value="<%= inputValue[0] %>" />
              <input type="text" name="email" placeholder="Email..." value="<%= inputValue[1] %>" />
              <div class="eye">
                <input type="password" name="password" placeholder="Password..." value="<%= inputValue[2] %>" />
                <i class="far fa-eye"></i>
              </div>
              <div class="eye">
                <input type="password" name="password2" placeholder="Confirm Password..." />
                <i class="far fa-eye"></i>
              </div>
              <button class="new-btn reg-btn" type="submit" name="button">Register</button>
              <div class="g-recaptcha" data-sitekey="6Ld_33ceAAAAABBCAROL7qxMWE2tpl688xXDmHjJ"></div>
            </form>

            <div class="sso-btns">
              <a href="/auth/google" class="new-btn google sso-btn">Google+</a>
              <a href="/auth/facebook" class="new-btn facebook sso-btn">Facebook</a>
            </div>

            <div class="log-opts">
              <a href="/login">Login</a>
            </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js-prod/logreg/logreg.js"></script>