<section class="display-screen prof-display-screen">
  <div class="display">
    <h1 class="chart_title"></h1>
    <div class="top_wrapper prof_top_wrapper"></div>
  </div>

  <div class="chart_names"></div>

  <div class="list-burg">
    <i class="fas fa-ellipsis-h"></i>
  </div>
</section>

<div class="yt-wrap"></div>

<script type="text/javascript" src="http://143.198.119.208:4001/topcharts/public/js/tileListeners-prof.js"></script>
<script type="text/javascript" src="http://143.198.119.208:4001/topcharts/public/js/mobile-tiles-prof.js"></script>
<script type="text/javascript" src="http://143.198.119.208:4001/topcharts/public/js/view/view2.js"></script>
