<form id="passChangeForm" class="pass-change" action="/reset/<%= token %>" method="POST">
  <label for="newPass">New Password</label>
  <input name="newPass" type="password" />

  <label for="confirmPass">Confirm New Password</label>
  <input name="confirmPass" type="password" />

  <input class="new-btn" type="submit" value="Change Password" />
</form>

<script type="text/javascript" src="http://192.168.0.13:8888/topcharts/public/js/forgot.js"></script>
<script type="text/javascript" src="http://192.168.0.13:8888/topcharts/public/css/forgot.css"></script>
